<html lang="en">
<head>

    <%- include('./partials/head.ejs')  %> 

    <%- include('./partials/nav.ejs')  %> 
</head>
<body>
  <h1>Velkommen til kategorier</h1>


  
  <% if (kategorier.length > 0) { %>
    <% kategorier.forEach(kat => { %>
      <h3 class="gruppe"><%= kat.gruppe %></h3>
      <p class="vare"><%= kat.vare %></p>
    <% }) %>
  <% } else { %>
    <p>There are no blogs to display...</p>
  <% } %>

  <div id="kategori">her kommer api</div>

 


  <%- include('./partials/footer.ejs')  %> 
 
 
</body>
</html>
